.title {
  width: 100%;
  display: flex;
  margin-top: auto;
  margin-left: 16px;
}

mat-icon {
  font-size: 56px;
}

.text{
  margin-left: 40px;
  line-height: 0px;
}

h1 {
  font-weight: 500;
}

h5{
  font-weight: 400;
}

mat-card {
  margin: 0 16px 4px 16px;
  padding: 0;
}


mat-toolbar  {
  display: flex;
  justify-content: space-between;
  height: 50px;

}

h3 {
  font-weight: 400;
}


button {
  margin-left: 16px;
  color:var(--color01);
  width: 90px;
  text-align: center;
}

.btn-search {
  background-color: var(--background01);
  width: 100px;
  color: #292929;
  text-align: center;
}

form {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5%;
}

.form-width{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.table {
  margin: 0 16px 8px 16px;
  display: flex;
  justify-content: space-between;

}

table{
  width: 100%;
}

th, td{
  width: 30%;
}

.btn-edit {
  background-color: var(--background05);
}

.btn-delete {
  background-color: var(--color05)
}
