<div class="title">
  <div>
    <mat-icon>person</mat-icon>
  </div>
  <div class="text">
    <h1>Contatos</h1>
    <h5>Lista de contatos</h5>
  </div>
</div>

<mat-card >

  <mat-toolbar class=table-title color="primary">

      <h3>Lista de Contatos</h3>

      <div class="div-search">
        <mat-form-field>
          <input [(ngModel)]="contact.name" matInput placeholder="" #input autocomplete="off">
        </mat-form-field>
        <button (click)="onSearch()" class="btn-search" mat-raised-button>Pesquisar</button>
      </div>

  </mat-toolbar>
</mat-card>

<div class="table mat-elevation-z8">
  <table mat-table [dataSource]="contacts" matSort>

    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Nome -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <!-- ID -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <!-- Botões -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Botões </th>
      <td mat-cell *matCellDef="let row">

        <button (click)="onDetail(row.id)" class="btn-detail" mat-raised-button>Detalhar</button>
        <button (click)="onEdit(row.id)" class="btn-edit" mat-raised-button>Editar</button>
        <button (click)="onDelete(row.id)" class="btn-delete" mat-raised-button>Excluir</button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
<!--
  <mat-paginator [pageSizeOptions]="[5]" aria-label="Select page of users"></mat-paginator>
-->
</div>


<ng-container *ngIf="showModal">
  <div class="modal">
    <mat-card >
      <mat-toolbar class=table-title color="primary">
          <h3>Detalhes</h3>
          <div>
            <button (click)="onDetail()" mat-icon-button >
              <mat-icon class="btn-exit" >close</mat-icon>
            </button>
          </div>
      </mat-toolbar>

      <form>

        <div>
          <mat-hint><strong>Nome</strong></mat-hint>
          <mat-form-field class="form-width">
            <input type="text" matInput  value="" [(ngModel)]="contact.name" autocomplete="off" readonly>
          </mat-form-field>
        </div>

        <div>
          <mat-hint><strong>Email</strong></mat-hint>
          <mat-form-field class="form-width">
            <input type="email" matInput  value="" [(ngModel)]="contact.email"
              autocomplete="off" readonly>
          </mat-form-field>
        </div>

        <div>
          <mat-hint><strong>Data de Nascimento</strong></mat-hint>
          <mat-form-field class="form-width">
            <input type="text" matInput value="" [(ngModel)]="contact.date" autocomplete="off" readonly>
          </mat-form-field>
        </div>

        <div>
          <mat-hint><strong>CEP</strong></mat-hint>
          <mat-form-field class="form-width">
            <input matInput #postalCode maxlength="8" value="" [(ngModel)]="contact.zip_code" autocomplete="off" readonly>
          </mat-form-field>
        </div>

        <div>
          <mat-hint><strong>CPF</strong></mat-hint>
          <mat-form-field class="form-width">
            <input type="text" matInput value="" [(ngModel)]="contact.cpf"autocomplete="off" readonly>
          </mat-form-field>
        </div>

        <div>
          <mat-hint><strong>Telefones</strong></mat-hint>
          <mat-form-field class="form-width" >
            <input type="text" matInput value="" [(ngModel)]="contact.phones" autocomplete="off" readonly>
          </mat-form-field>
        </div>


      </form>

    </mat-card>
    <ng-content></ng-content>
  </div>
  <div class="overlay"></div>
</ng-container>
