/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{

  --background01:  #FFFFFF;
  --background02:  #000000;
  --background03:  #3F51B5;
  --background04:  #FAFAFA;
  --background05:  #DC3545;
  --background06:  #009CB2;
  --background07:  #222222;

  --color01:  #FFFFFF;
  --color02:  #000000;
  --color03:  #333333;

}
